.DS_Store
*.log
.env*
!.env.example
node_modules/
wordpress/.wordpress/
wordpress/wp-content/uploads/
wordpress/wp-content/cache/
wordpress/wp-content/upgrade/
wordpress/wp-content/languages/
wordpress/wp-content/plugins/*
!wordpress/wp-content/plugins/strc-core/
wordpress/wp-content/plugins/strc-core/vendor/
wordpress/wp-content/plugins/strc-core/.phpunit.cache/
wordpress/wp-content/themes/*
!wordpress/wp-content/themes/strc/
frontend/.vinext/
frontend/.next/
frontend/dist/
frontend/.wrangler/
